META_DATABASE_URL = sqlite://meta_dev.db
META_DB_FILE=meta_dev.db
MEILI_MASTER_KEY=GBowmX3uTYeTR87bohvqnwjSYZzFzSNdbhbk8y23Zz0
DATABASE_URL = sqlite://read_dev.db
PRIVATE_KEY=b5a2a84f8ca0cf36c79ea7cfa364cc849e3f55cd54bda828992984088d9702f8
APP_ENVIRONMENT=development
RUST_LOG=debug
READ_DB_FILE=read_dev.db
WRITE_DB_FILE=write_dev.db
FIRST_USER_ID=2463b35c-e105-48e2-a8a8-61304fc2e62c
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true
RUST_BACKTRACE=full
FIRST_USER_MOBILE=9876543210
FIRST_USER_FIRST_NAME=Kunjan
FIRST_USER_PASSWORD=Kunjan@123 
FIRST_USER_PHOTO_URL=https://loremflickr.com/320/240/people
PUBLIC_KEY=abad1f1ba3144fa715d0da60fe65d906d5d1437a9c028d4b0bdcf548bef0944e
TEXT_LOCAL_API_KEY=Mzc0YjU4NjM1OTQyNmY2ZTU2MzE1ODMxNzc2MjRmMzc=